*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}



/*------Common------*/

body{
    background-color: #000;
}
.navbar{
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: #000;
    top: 0;
}

.navbar img{
    float: left;
    padding-left: 40px;
    height: 50px;
}
.navbar a{
    text-decoration: none;
    color: #ffff;
}

.navbar ul{
    height: 100%;
    width: 60%;
    float: right;
}  
.navbar ul li{
    display: inline-block;
    padding-top: 20px;
    height: 40px;
    width:12%;
    text-align: center;
    color:#fff;
    text-decoration: none;
}
.navbar ul a li:hover{
    color: #ff8d29;
    font-size: 15px;
    background-color: #1515158b;
}


/*------Home - index------*/

#particles-js{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Hero-Bg-face.png);
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
#particles-js .title{
    position: absolute;
    top: 145pt;
    left: 7%;
    font-size: 22px;
    width: 40%;
}
#particles-js .title h1{
    font-size: 65px;
}
#particles-js .title h1 span{
    color: #ff8d29;
}
.herobtn{
    height: 70px;
    width: 350px;
    margin-left: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
}
.herobtn #Hero-Btn{
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 100px;
    background-color: #ff8d29cc;
    color: #000;
    font-size: 15px;
}
.herobtn #Hero-Btn:hover{
    background-color: #ff8d29;
    cursor: pointer;
}



/*------About------*/
.container-about{
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 60px;
}
.container-about .about-image{
    height:auto;
}
.container-about img{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 40px;
    height: 70vh;
    border-radius: 100px;
}
.container-about .about-text{
    height: 100vh;
    width: 100%;
    margin-top: 25px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-text h3{
    color: #ff8d29;
    margin-bottom: 10px;
}
.about-text p{
    margin-bottom: 20px;
    line-height: 1.6;
}
.about-text ul li{
    line-height: 1.6;
}
.container-about .about-image #social-icons{
    height: 30px;
    border-radius: 0;
}
.container-about .about-image .social-media{
    display: flex;
    justify-content: space-between;
    margin-top: -70px;
}


/*------Portfolio------*/


.portfolio{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 55px;
}
.cards{
    position: relative;
    height: 250px;
    width: 90%;
    background-color: #29292935;
    border-radius: 50px;
    top: 30px;
    left: 5%;
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}
.cards .card-img{
    width: 450px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: -1px 0px 3px #464646;
}
.cards .card-img img{
    height: 250px;
    width: 450px;
}
.cards .card-txt{
    border-radius: 50px;
    padding-top: 30px;
    padding-left: 50px;
}
.cards .card-txt h1{
    margin-bottom:15px;
    color: #ff8d29;
    font-size: 50px;
}
.cards .card-txt p{
    color:#ffffffa5;
    font-family: arial;
    font-weight: lighter;
    padding-left: 20x;
    inline-size: 700px;
}
.cards .card-txt #projects-btn {
    height:40px;
    width: 200px;
    color: black;
    margin-top: 20px;
    border-radius: 50px;
    border:0px;
    background-color: #ff8d29c8;
    margin-left: 500px;
    font-size: 15px;
}
#projects-btn{
    cursor: pointer;
}



/*------Contacts------*/

.contact-container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Hero-Bg-face.png);
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    overflow: auto;
    position: relative;
    top:60px;
}

.contact-form{
    height: inherit;
    width: 50%;
    margin-left: 40px;
    position: relative;
    padding-left: 30px;
    padding-top: 100px;
}
.contact-container h1{
    font-size: 50px;
    position: absolute;
    top: 40px;
    margin-left: 70px;
    color: #ff8d29;
}
.contact-container .contact-form #contact-input input{
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #ff8d2916;
    padding-left: 10px;
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #ff8d29;
    margin-top: 10px;
    padding-top: 3px;
}
.contact-container .contact-form #contact-input textarea{
    margin-bottom: 10px;
    height: 250px;
    width: 616px;
    resize: none;
    overflow: auto;
    background-color: #ff8d2916;
    padding-left: 10px;
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #ff8d29;
    margin-top: 10px;
    padding-top: 10px;
}
.contact-container .contact-form #contact-input label{
    color: #ff8d29;
    padding-left: 5px;
}
.contact-container .contact-form #contact-input input[type="submit"]{
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 100px;
    background-color: #ff8d29cc;
    color: #000;
    font-size: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*-----projects-----*/

.projects{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 60px;
    background-color: green;
}


/*------Common------*/

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;margin-top: 10px;
}
